body
{
 font-family: 'Raleway', sans-serif;
 
}


.bd-highlight {
    background-color: rgba(222,222,222,.15);
    border: 1px solid rgba(222,222,222,.15);
}
#MenuContainer,#MenuContainerWrap
{
    min-width:300px;
    max-width:300px;
    background-color:#070611;
}
.MenuContainerItems  i
{
    font-size: 25px;
}
.MenuContainerItems
{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}

.MenuContainerFooter
{
    font-size: 15px;
} 


#ContentContainer
{
    max-height: 100vh;
 
    scroll-behavior: smooth;
}

#ContentContainer section
{
    height: 100vh;
}
.menu2
{
    border-radius: 15px;
    background-color:rgba(7, 3, 3, 0.8);
    font-weight: 700;
   
}
.sec-menu a
{
    color:rgb(202, 52, 52) !important;
}
.sec-menu a:hover
{
    color:rgb(246, 246, 248)!important;
    background-color: rgba(56, 90, 202, 0.8);
    border-radius: 15px;;
}

#SectionHome{
    background-image: url("../images/bg-masthead.jpg") ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
   
}
#SectionHome > div{
    height: 100vh;
    background-color: rgba(22,22,22,.6);
  
}
.sectionTitle {
padding-top :50px;
font-weight: 600;
font-size: 150%;
color:rgb(55, 25, 138);
padding: 40px 10px;

}

.sectionTitle::after{
content:"";
display: block;
width: 50px;
height: 3px;
margin-top: 10px;
background-color:rgb(83, 83, 218);
margin-bottom: 10px;


}
.AboutTitle{
   
    margin-bottom: 20px;
    display: block;
}

.border-5
{
    border-width: 5px; 
    border-style: solid rgba(182, 182, 255, 0.9);
    /* box-shadow: 1px 1px 15px rgba(45, 45, 150, 0.9); */
}
#SectionHome .typehome{
border-bottom: 2px solid maroon;
font-style: 130%;
padding-bottom: 4px;
}


.sectionSkills .container-fluid{
   background-color: rgba(66, 53, 243, 0.15);
   margin-top: 100px;
   
}

.Skillitem  div span{
font-weight: 700;
padding: 2px;

}
.Skillitem div div{
    font-weight: 700;
    background-color:#8395a7;
    height: 10px;
    border-radius: 25px;
 
}
.Skillitem div div div{
    font-weight: 700;
    background-color:#4834d4;
   
}

#SectionResume
{

    position: relative;
    top:50%;
} 
.ResumeItem {
border-left: 5px solid black;
padding-left: 20px;
margin-top: 20px;

}
.ResumeItem {
    position: relative;
    top: -18px;
}
.ResumeItem::before{
content:"";
width: 17px;
height: 17px;
background-color: white;
border:1px solid black;
display: block;
border-radius: 60px;
position: relative;
left: -30px;
}


form
{
    
    padding: 25px;
    box-shadow: 1px 1px 15px rgba(0,0,150,.25);
    width: 95%;
    
}


.comuncation
{
    
    padding: 15px;
    box-shadow: 1px 1px 15px rgba(0,0,150,.25);
    width: 95%;
   max-height:94%;
   min-height:94%;
    margin: auto;
}
.comuncationItem b
{
 font-size: 130%;
 font-weight: 700;
}
.comuncationItem p
{
 font-size: 70%;
}
.material-icons
{
    display:inline;
    
    color:rgba(70, 147, 210, 1);
  
    background-color:rgba(70, 147, 210, 0.2);
    
}
.material-icons:hover
{

    color:white;
  
    background-color:rgba(70, 147, 210, 1);
    
}
#map {
    max-height: 320px;
    margin: auto;
    max-width: 100%;

  }
  .button-submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background:linear-gradient(#3a04ff, #3948ec);
    color:white;
}
.button-submit:hover{
    
    background: linear-gradient(#3948ec, #3a04ff);
}